@charset "UTF-8";

/* Reset
-------------------------------------------------- */
html{
	font-family: sans-serif;
}
body{
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
}
a{
	background: transparent;
}
a:focus{
	outline: thin dotted;
}
a:active,
a:hover{
	outline: 0;
}
html,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,code,del,em,img,strong,
dl,dt,dd,ol,ul,li,
fieldset,form,label,
table,caption,tbody,tfoot,thead,tr,th,td{
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
article,aside,footer,header,small,nav,section,figure,figcaption,main{
	margin: 0;
	padding: 0;
	display: block;
	vertical-align: baseline;
	list-style: none;
	background-color: transparent;
	outline: none;
}
audio,canvas,video{
	display: inline-block;
}
ul,ol{
	/*list-style-type: none;*/
	padding-left: 40px;
}
table{
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	line-height: 1;
	vertical-align: bottom;
	outline: none;
	-webkit-backface-visibility: hidden;
}
a img{
	border: none;
	outline: none;
}
sub,sup{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
hr{
	box-sizing: content-box;
	height: 0;
}
dt,dd,li,
th,td,
input,textarea{
	text-align: left;
	vertical-align: top;
}
button{
	border: none;
}
input,textarea,button{
	margin: 0;
	padding: 0;
}
input{
	border: 1px solid #dad7d3;
	padding: 2px 5px;
}
textarea{
	border: 1px solid #dad7d3;
	resize: none;
}
button,label{
	background-color: transparent;
	cursor: pointer;
}
button,select{
	text-transform: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],
input[disabled]{
	cursor: default;
}
input[type="checkbox"],
input[type="radio"]{
	box-sizing: content-box;
	padding: 0;
	vertical-align: middle;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner{
	padding: 0;
	border: 0;
}
textarea{
	overflow: auto;
	vertical-align: top;
}
small{
	font-size: 0.8em;
	display: inline;
}
:focus{
	outline: none;
}

/* Base
-------------------------------------------------- */
html{
	overflow-y: scroll;
	font-size: 100%;
}
h1,h2,h3,h4,h5,h6{
	font-size: 100%;
	font-weight: bold;
}
table{
	width: 100%;
}
input,textarea,button,select{
	font-family: "じゅん 201","Jun 201","メイリオ",Meiryo,"ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","helvetica","arial",sans-serif;
	font-size: 100%;
}
html[lang="en"] input,
html[lang="en"] textarea,
html[lang="en"] button,
html[lang="en"] select{
	font-family: Arial, Helvetica, sans-serif;
}
strong,
em{
	font-weight: bold;
}

/* layout
-------------------------------------------------- */
body {
	background-color: #c3d1d9;
	text-align: center;
	color: #5e5755;
	font-family: "じゅん 201","Jun 201","メイリオ",Meiryo,"ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","helvetica","arial",sans-serif;
	font-size: 16px;
	line-height: 1.6;
}
strong {
	font-family: "じゅん 501","Jun 501";
}

/* link
-------------------------------------------------- */
a {
	text-decoration: underline;
}
.icn-win {
	position: relative;
}
.icn-win:before {
	position: absolute;
	right: -20px;
	margin-top: 2px;
	font-family: 'Font Awesome 5 Free';
	content: '\f2d2';
	font-weight: 600;
}
.btn {
	margin-top: 20px;
	text-align: center;
}
.btn span {
	transition: 0.3s;
}
.btn span {
	display: inline-block;
	margin: 0 auto;
	padding: 10px 20px;
	background: #89765a;
	border-radius: 10px;
	color: #fffff9;
}
.btn .icn-win:before {
	right: 15px;
	margin-top: 10px;
	color: #fffff9;
}
.btn .icn-win span {
	padding: 10px 40px 10px 20px;
}
@media only screen and (min-width:768px){
	a {
		position: relative;
		text-decoration: none;
		transition: 0.3s;
	}
	a:after {
		position: absolute;
		content: "";
		bottom: 0;
		left: 0;
		width: 0;
		border-bottom: 1px solid #5e5755;
		transition: 0.3s;
	}
	a:hover:after {
		width: 100%;
	}
	.btn a:after {
		content: none;
	}
	.btn a:hover span {
		background: #f0dfbb;
		color: #89765a;
	}
	.btn .icn-win:before {
		transition: 0.3s;
	}
	.btn .icn-win:hover:before {
		color: #89765a;
	}
} /* pc */


/* header
-------------------------------------------------- */
.l-header {
	position: relative;
	background-color: #fffff9;
}
.l-header_inner {
	padding: 20px;
	text-align: left;
	min-height: 200px;
	background-image: url('/assets/images/main.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}
.tit-logo {
	position: absolute;
	width: 30%;
	top: 50%;
	right: 10%;
	margin-top:  -12%;
}
.tit-logo a {
	color: #5e5755;
	text-decoration: none;
}
@media only screen and (min-width:768px){
	.tit-logo {
		top: 50%;
		right: 20%;
		width: 200px;
		margin-top:  -44px;
	}
	.l-header_inner {
		min-height: 400px;
		padding: 20px 10px;
		box-sizing: border-box;
	}
	.tit-logo a:after {
		content: none;
	}
} /* pc */


/* nav
-------------------------------------------------- */
.l-nav {
	padding: 10px 10px 0;
	text-align: left;
}
.l-nav ul {
	padding-left: 0;
}
.l-nav li {
	margin: 0 5px;
	display: inline-block;
}
.l-nav li a {
	position: relative;
	display: block;
	padding: 7px 5px 10px 10px;
	color: #5e5755;
}
.l-nav li a:before {
	position: absolute;
	left: 0;
	margin-top: 1px;
	font-family: 'Font Awesome 5 Free';
	content: '\f0da';
	font-weight: 600;
}
@media only screen and (min-width:768px){
	.l-nav {
		max-width: 1000px;
		margin: 0 auto;
		padding: 10px 2% 10px;
		box-sizing: border-box;
	}
	.l-nav li:first-child {
		margin-left: 0;
	}
	.l-nav li a {
		padding: 7px 20px 5px 15px;
	}
} /* pc */

/* footer
-------------------------------------------------- */
.l-footer {
	padding: 10px;
	background-color: #ceb686;
	text-align: center;
	color: #fff;
}
.l-footer .lst-link {
	margin-bottom: 10px;
	padding-left: 0;
}
.l-footer .lst-link li {
	display: inline;
	margin: 0 10px;
}
.l-footer .lst-link li a {
	position: relative;
	padding: 0 0 0 15px;
	color:  #fff;
}
.l-footer .lst-link li a:before {
	position: absolute;
	left: 0;
	margin-top: 1px;
	font-family: 'Font Awesome 5 Free';
	content: '\f0da';
	font-weight: 600;
}
@media only screen and (min-width:768px){
	.l-footer .l-footer_wrap {
		max-width: 1000px;
		margin: 0 auto;
	}
	.l-footer .lst-link {
		float: left;
		margin-bottom: 0;
	}
	.l-footer .txt-copy {
		float: right;
	}
	.l-footer .lst-link li a:after {
		border-color: #fff;
	}
} /* pc */

/* main
-------------------------------------------------- */
.l-main {
	padding: 25px 0 50px 0;
}
.l-main a {
	color: #5e5755;
}
@media only screen and (min-width:768px){
	.l-main {
		max-width: 1000px;
		margin: 0 auto;
		padding: 50px 0 50px 0;
	}
} /* pc */

/* photo
-------------------------------------------------- */

/* art lst
-------------------------------------------------- */
.blc-art_lst {
	padding: 0 20px;
	text-align: left;
}
.blc-art_lst .blc-art_clm {
	position: relative;
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px dotted #5e5755;
}
.blc-art_lst .blc-art_clm a {
	display: block;
	text-decoration: none;
}
.blc-art_lst .blc-art_clm a img {
	transition: all 0.3s ease;
}
.blc-art_lst .blc-art_clm:first-child {
	margin-top: 0;
	padding-top: 0;
	border-top: 0;
}
.blc-art_lst .blc-art_photo img {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}
.blc-art_lst .blc-art_dt {
	display: block;
	padding-top: 20px;
}
.blc-art_lst .blc-art_dt .blc-art_ttl {
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
}
.blc-art_lst .blc-art_dt .blc-art_txt {
	display: block;
}
.blc-art_lst .blc-art_dt .blc-cat {
	display: block;
	margin-top: 10px;
	font-size: 12px;
	text-align: right;
}
.blc-art_more {
	position: relative;
	margin-top: 20px;
	padding: 7px 20px 5px 15px;
	text-align: right;
	text-decoration: underline;
}
.blc-art_more:before {
	position: absolute;
	left: 0;
	margin-top: 1px;
	font-family: 'Font Awesome 5 Free';
	content: '\f0da';
	font-weight: 600;
}
.blc-art_new {
	position: absolute;
	top: 10%;
	left: 0;
}
.blc-art_icn {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	padding: 5px 10px;
	margin: 0 0 0 -20px;
	width: calc(100% + 20px);
	font-size: 14px;
	color: #5e5755;
	background: #f0dfbb;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	font-family: "じゅん 501","Jun 501";
}
.blc-art_icn:before {
	position: absolute;
	content: '';
	top: 100%;
	left: 0;
	border: none;
	border-bottom: solid 15px transparent;
	border-right: solid 20px #ceb686;
}


@media only screen and (min-width:768px){
	.box-art_lst {
		float: left;
		width: 66%;
		padding: 0 2%;
	}
	.blc-art_lst {
		display: flex;
		flex-wrap: wrap;
		margin-top: -50px;
		padding: 0;
	}
	.blc-art_lst .blc-art_clm {
		width: 48%;
		margin-top: 50px;
		margin-right: 4%;
		padding: 0;
		border: 0;
	}
	.blc-art_lst .blc-art_clm a {
		position: static;
	}
	.blc-art_lst .blc-art_clm a:after {
		content: none;
	}
	.blc-art_lst .blc-art_clm a:hover {
		text-decoration: none;
	}
	.blc-art_lst .blc-art_clm a:hover img {
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
		transform: translateY(-5px);
	}
	.blc-art_lst .blc-art_clm:first-child {
		margin-top: 50px;
	}
	.blc-art_lst .blc-art_clm:nth-child(2n) {
		margin-right: 0;
		padding: 0;
	}
	.blc-art_new {
		top: 3%;
	}
} /* pc */

/* art pager
-------------------------------------------------- */
.blc-art_pager {
	margin-top: 30px;
	padding: 0 20px;
	text-align: center;
}
.blc-art_pager ul li {
	display: inline-block;
	margin: 0 5px;
}
.blc-art_pager ul li span,
.blc-art_pager ul li a {
	position: relative;
	display: block;
	padding: 8px 15px;
	background-color: #5e5755;
	color: #fff;
	border-radius: 50%;
}
.blc-art_pager ul li span {
	background-color: #fc9d9d;
	color: #fff;
}
@media only screen and (min-width:768px){
	.blc-art_pager ul li a:hover {
		background-color: #fff;
		color: #5e5755;
	}
} /* pc */


/* art dd
-------------------------------------------------- */
.blc-art_dd {
	padding: 0 20px;
	text-align: left;
}
.blc-art_dd p {
	line-height: 2;
}
.blc-art_dd .ttl-hdg01 {
	display: block;
}
.blc-art_dd .blc-cat {
	margin-top: -15px;
}
.blc-art_dd .blc-tag p {
	display: inline-block;
	margin: 0;
}
.blc-art_dd .blc-tag ul {
	display: inline-block;
}
.blc-art_dd .blc-tag li {
	display: inline-block;
	margin: 0 5px;
}
.blc-art_dd .blc-art_dt_photo img {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}
.blc-art_dd p {
	margin-bottom: 20px;
}
.blc-art_share {
	margin-top: 20px;
	padding: 0 20px;
	text-align: right;
}
.blc-art_share ul {
	padding-top: 10px;
	border-top: 1px solid #5e5755;
}
.blc-art_share li {
	display: inline-block;
	margin-left: 5px;
}
.blc-art_share li i {
	font-size: 30px;
	color: #fffff9;
	transition: 0.3s;
}
.blc-art_dd input[type='text'],
.blc-art_dd input[type='email'],
.blc-art_dd textarea {
	width: 80%;
	margin-bottom: 10px;
	padding: 2px 5px;
}
.blc-art_dd input[type='submit'] {
	display: inline-block;
	margin-right: 50px;
	background: #f0dfbb;
	border: 1px dashed #89765a;
}
@media only screen and (min-width:768px){
	.blc-art {
		float: left;
		width: 66%;
		padding: 0 2%;
	}
	.blc-art_dd {
		padding: 0;
	}
	.blc-art_share {
		padding: 0;
	}
	.blc-art_share li a:after {
		content: none;
	}
	.blc-art_share a i,
	.blc-art_dd input[type='submit'] {
		transition: 0.3s;
	}
	.blc-art_share a:hover i {
		color: #89765a;
	}
	.blc-art_dd input[type='submit']:hover {
		background: #89765a;
		border: 1px dashed #f0dfbb;
		color: #fff;
	}
} /* pc */

/* aside
-------------------------------------------------- */
.l-aside {
	margin-top: 30px;
	padding: 20px;
	border-top: 1px dotted #5e5755;
	text-align: left;
}
.l-aside .ttl-hdg01 {
	font-size: 16px;
}
.l-aside .ttl-hdg01 span {
	padding: 2px 20px 3px 20px
}
.l-aside .ttl-hdg01 span:before {
	content: none;
}

@media only screen and (min-width:768px){
	.l-aside {
		float: right;
		width: 26%;
		margin-top: -30px;
		padding: 0 2%;
		border-top: 0;
	}
} /* pc */

/* prof
-------------------------------------------------- */
.blc-aside .icn-share li {
	display: inline-block;
	margin-right: 10px;
}
.blc-aside .icn-share li a {
	padding: 0;
}
.blc-aside .icn-share li a:before {
	content: none;
}
.blc-aside .icn-share a i {
	font-size: 30px;
	color: #fffff9;
	transition: 0.3s;
}
.blc-aside img {
	border-radius: 10px;
}
@media only screen and (min-width:768px){
	.blc-aside .icn-share a:after {
		content: none;
	}
	.blc-aside .icn-share a:hover i {
		color: #89765a;
	}
} /* pc */

/* tag
-------------------------------------------------- */
.blc-aside .tagcloud a {
	padding: 5px 10px;
	border-radius: 10px;
	border: 1px solid #5e5755;
	color: #5e5755;
	box-sizing: border-box;
}
@media only screen and (min-width:768px){
	.blc-aside .tagcloud a:hover {
		background-color: #5e5755;
		color: #fff;
	}
} /* pc */


/* new
-------------------------------------------------- */
.blc-aside ul {
	margin-top: -10px;
	padding-left: 0;
	list-style-type:  none;
}
.blc-aside li a {
	position: relative;
	display: block;
	padding: 7px 20px 5px 15px;
	color: #5e5755;
}
.blc-aside li a:before {
	position: absolute;
	left: 0;
	margin-top: 1px;
	font-family: 'Font Awesome 5 Free';
	content: '\f0da';
	font-weight: 600;
}
@media only screen and (min-width:768px){
	.blc-aside li a {
		display: inline-block;
		padding-right: 0;
	}
} /* pc */

/* other
-------------------------------------------------- */
.clearfix:after{
	display: block;
	clear: both;
	content: "";
}
@media only screen and (min-width:768px){
	.l-main:after,
	.blc-art_lst:after,
	.l-footer_wrap:after,
	.clearfix:after{
		display: block;
		clear: both;
		content: "";
	}
}

.blc-hdg01 {
	text-align: center;
}
.box-art_lst .blc-hdg01,
.box-art_lst h1 {
	padding: 0 20px;
	text-align: left;
}
.ttl-hdg01 {
	display: block;
	margin-bottom: 30px;
	padding: 5px;
	border-radius: 20px;
	background: #f0dfbb;
	font-family: "じゅん 501","Jun 501";
	font-size: 22px;
}
.ttl-hdg01 .ttl-wrap {
	position: relative;
	display: block;
	padding: 12px 20px 13px 20px;
	border-radius: 16px;
	border: 2px dashed #89765a;
}
.blc-art_dd .ttl-hdg01 .ttl-wrap {
	padding: 10px 20px 13px 70px;
}
.blc-art_dd .ttl-hdg01 .ttl-wrap:before {
	position: absolute;
	content: '';
	left: 15px;
	top: 10px;
	width: 40px;
	height: 40px;
	background-image: url('/assets/images/icn-other.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.blc-art_dd .ttl-hdg01.icn-illust .ttl-wrap:before {
	background-image: url('/assets/images/icn-illust.png');
}
.blc-art_dd .ttl-hdg01.icn-goods .ttl-wrap:before {
	background-image: url('/assets/images/icn-goods.png');
}
.blc-art_dd .ttl-hdg01.icn-bread .ttl-wrap:before {
	background-image: url('/assets/images/icn-bread.png');
}
.blc-art_dd .ttl-hdg01.icn-photo .ttl-wrap:before {
	background-image: url('/assets/images/icn-photo.png');
}


.blc-art h2 {
	display: block;
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 10px 0 13px 15px;
	border-left: 5px solid #5e5755;
	border-bottom: 2px dashed #5e5755;
	font-family: "じゅん 501","Jun 501";
	font-size: 18px;
}
.blc-art h3 {
	display: block;
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 0 0 3px 15px;
	border-left: 5px solid #5e5755;
	font-family: "じゅん 501","Jun 501";
	font-size: 16px;
}

@media only screen and (min-width:768px){
	.ttl-hdg01 {
		display: inline-block;
	}
	.box-art_lst .blc-hdg01,
	.box-art_lst h1 {
		padding: 0;
		text-align: center;
	}
}

.ttl-hdg02 {
	display: inline-block;
	margin-bottom: 30px;
	font-size: 18px;
}
.fluid-image{
	max-width: 100%;
	height: auto;
}
.full-image {
	width: 100%;
	height: auto;
}

/* wp style
-------------------------------------------------- */
.is-style-round {
	width: 100%;
	text-align: center;
}
.is-style-round img {
	height: auto;
	margin: 0 auto;
	border-radius: 10px;
}


/* margin  */.m0{margin:0!important;}.m5{margin: 5px!important;}.m10{margin: 10px!important;}.m15{margin: 15px!important;}.m20{margin: 20px!important;}.m25{margin: 25px!important;}.m30{margin: 30px!important;}.m35{margin: 35px!important;}.m40{margin: 40px!important;}.m45{margin: 45px!important;}.m50{margin: 50px!important;}.m55{margin: 55px!important;}.m60{margin: 60px!important;}.m65{margin: 65px!important;}.m70{margin: 70px!important;}.m75{margin: 75px!important;}.m80{margin: 80px!important;}.m85{margin: 85px!important;}.m90{margin: 90px!important;}.m95{margin: 95px!important;}.m100{margin: 100px!important;}/* margin-top */.mt0{margin-top:0!important;}.mt5{margin-top: 5px!important;}.mt10{margin-top: 10px!important;}.mt15{margin-top: 15px!important;}.mt20{margin-top: 20px!important;}.mt25{margin-top: 25px!important;}.mt30{margin-top: 30px!important;}.mt35{margin-top: 35px!important;}.mt40{margin-top: 40px!important;}.mt45{margin-top: 45px!important;}.mt50{margin-top: 50px!important;}.mt55{margin-top: 55px!important;}.mt60{margin-top: 60px!important;}.mt65{margin-top: 65px!important;}.mt70{margin-top: 70px!important;}.mt75{margin-top: 75px!important;}.mt80{margin-top: 80px!important;}.mt85{margin-top: 85px!important;}.mt90{margin-top: 90px!important;}.mt95{margin-top: 95px!important;}.mt100{margin-top: 100px!important;}/* margin-right */.mr0{margin-right:0!important;}.mr5{margin-right: 5px!important;}.mr10{margin-right: 10px!important;}.mr15{margin-right: 15px!important;}.mr20{margin-right: 20px!important;}.mr25{margin-right: 25px!important;}.mr30{margin-right: 30px!important;}.mr35{margin-right: 35px!important;}.mr40{margin-right: 40px!important;}.mr45{margin-right: 45px!important;}.mr50{margin-right: 50px!important;}.mr55{margin-right: 55px!important;}.mr60{margin-right: 60px!important;}.mr65{margin-right: 65px!important;}.mr70{margin-right: 70px!important;}.mr75{margin-right: 75px!important;}.mr80{margin-right: 80px!important;}.mr85{margin-right: 85px!important;}.mr90{margin-right: 90px!important;}.mr95{margin-right: 95px!important;}.mr100{margin-right: 100px!important;}/* margin-bottom */.mb0{margin-bottom:0!important;}.mb5{margin-bottom: 5px!important;}.mb10{margin-bottom: 10px!important;}.mb15{margin-bottom: 15px!important;}.mb20{margin-bottom: 20px!important;}.mb25{margin-bottom: 25px!important;}.mb30{margin-bottom: 30px!important;}.mb35{margin-bottom: 35px!important;}.mb40{margin-bottom: 40px!important;}.mb45{margin-bottom: 45px!important;}.mb50{margin-bottom: 50px!important;}.mb55{margin-bottom: 55px!important;}.mb60{margin-bottom: 60px!important;}.mb65{margin-bottom: 65px!important;}.mb70{margin-bottom: 70px!important;}.mb75{margin-bottom: 75px!important;}.mb80{margin-bottom: 80px!important;}.mb85{margin-bottom: 85px!important;}.mb90{margin-bottom: 90px!important;}.mb95{margin-bottom: 95px!important;}.mb100{margin-bottom: 100px!important;}/* margin-left */.ml0{margin-left:0!important;}.ml5{margin-left: 5px!important;}.ml10{margin-left: 10px!important;}.ml15{margin-left: 15px!important;}.ml20{margin-left: 20px!important;}.ml25{margin-left: 25px!important;}.ml30{margin-left: 30px!important;}.ml35{margin-left: 35px!important;}.ml40{margin-left: 40px!important;}.ml45{margin-left: 45px!important;}.ml50{margin-left: 50px!important;}.ml55{margin-left: 55px!important;}.ml60{margin-left: 60px!important;}.ml65{margin-left: 65px!important;}.ml70{margin-left: 70px!important;}.ml75{margin-left: 75px!important;}.ml80{margin-left: 80px!important;}.ml85{margin-left: 85px!important;}.ml90{margin-left: 90px!important;}.ml95{margin-left: 95px!important;}.ml100{margin-left: 100px!important;}
/* padding */.p0{padding:0!important;}.p5{padding: 5px!important;}.p10{padding: 10px!important;}.p15{padding: 15px!important;}.p20{padding: 20px!important;}.p25{padding: 25px!important;}.p30{padding: 30px!important;}.p35{padding: 35px!important;}.p40{padding: 40px!important;}.p45{padding: 45px!important;}.p50{padding: 50px!important;}.p55{padding: 55px!important;}.p60{padding: 60px!important;}.p65{padding: 65px!important;}.p70{padding: 70px!important;}.p75{padding: 75px!important;}.p80{padding: 80px!important;}.p85{padding: 85px!important;}.p90{padding: 90px!important;}.p95{padding: 95px!important;}.p100{padding: 100px!important;}/* padding-top */.pt0{padding-top:0!important;}.pt5{padding-top: 5px!important;}.pt10{padding-top: 10px!important;}.pt15{padding-top: 15px!important;}.pt20{padding-top: 20px!important;}.pt25{padding-top: 25px!important;}.pt30{padding-top: 30px!important;}.pt35{padding-top: 35px!important;}.pt40{padding-top: 40px!important;}.pt45{padding-top: 45px!important;}.pt50{padding-top: 50px!important;}.pt55{padding-top: 55px!important;}.pt60{padding-top: 60px!important;}.pt65{padding-top: 65px!important;}.pt70{padding-top: 70px!important;}.pt75{padding-top: 75px!important;}.pt80{padding-top: 80px!important;}.pt85{padding-top: 85px!important;}.pt90{padding-top: 90px!important;}.pt95{padding-top: 95px!important;}.pt100{padding-top: 100px!important;}/* padding-right */.pr0{padding-right:0!important;}.pr5{padding-right: 5px!important;}.pr10{padding-right: 10px!important;}.pr15{padding-right: 15px!important;}.pr20{padding-right: 20px!important;}.pr25{padding-right: 25px!important;}.pr30{padding-right: 30px!important;}.pr35{padding-right: 35px!important;}.pr40{padding-right: 40px!important;}.pr45{padding-right: 45px!important;}.pr50{padding-right: 50px!important;}.pr55{padding-right: 55px!important;}.pr60{padding-right: 60px!important;}.pr65{padding-right: 65px!important;}.pr70{padding-right: 70px!important;}.pr75{padding-right: 75px!important;}.pr80{padding-right: 80px!important;}.pr85{padding-right: 85px!important;}.pr90{padding-right: 90px!important;}.pr95{padding-right: 95px!important;}.pr100{padding-right: 100px!important;}/* padding-bottom */.pb0{padding-bottom:0!important;}.pb5{padding-bottom: 5px!important;}.pb10{padding-bottom: 10px!important;}.pb15{padding-bottom: 15px!important;}.pb20{padding-bottom: 20px!important;}.pb25{padding-bottom: 25px!important;}.pb30{padding-bottom: 30px!important;}.pb35{padding-bottom: 35px!important;}.pb40{padding-bottom: 40px!important;}.pb45{padding-bottom: 45px!important;}.pb50{padding-bottom: 50px!important;}.pb55{padding-bottom: 55px!important;}.pb60{padding-bottom: 60px!important;}.pb65{padding-bottom: 65px!important;}.pb70{padding-bottom: 70px!important;}.pb75{padding-bottom: 75px!important;}.pb80{padding-bottom: 80px!important;}.pb85{padding-bottom: 85px!important;}.pb90{padding-bottom: 90px!important;}.pb95{padding-bottom: 95px!important;}.pb100{padding-bottom: 100px!important;}/* padding-left */.pl0{padding-left:0!important;}.pl5{padding-left: 5px!important;}.pl10{padding-left: 10px!important;}.pl15{padding-left: 15px!important;}.pl20{padding-left: 20px!important;}.pl25{padding-left: 25px!important;}.pl30{padding-left: 30px!important;}.pl35{padding-left: 35px!important;}.pl40{padding-left: 40px!important;}.pl45{padding-left: 45px!important;}.pl50{padding-left: 50px!important;}.pl55{padding-left: 55px!important;}.pl60{padding-left: 60px!important;}.pl65{padding-left: 65px!important;}.pl70{padding-left: 70px!important;}.pl75{padding-left: 75px!important;}.pl80{padding-left: 80px!important;}.pl85{padding-left: 85px!important;}.pl90{padding-left: 90px!important;}.pl95{padding-left: 95px!important;}.pl100{padding-left: 100px!important;}
.mlrauto{margin-left: auto; margin-right: auto;}

@media screen and (max-width: 767px){
	/* margin  */.m0-sp{margin:0!important;}.m5-sp{margin: 5px!important;}.m10-sp{margin: 10px!important;}.m15-sp{margin: 15px!important;}.m20-sp{margin: 20px!important;}.m25-sp{margin: 25px!important;}.m30-sp{margin: 30px!important;}.m35-sp{margin: 35px!important;}.m40-sp{margin: 40px!important;}.m45-sp{margin: 45px!important;}.m50-sp{margin: 50px!important;}.m55-sp{margin: 55px!important;}.m60-sp{margin: 60px!important;}.m65-sp{margin: 65px!important;}.m70-sp{margin: 70px!important;}.m75-sp{margin: 75px!important;}.m80-sp{margin: 80px!important;}.m85-sp{margin: 85px!important;}.m90-sp{margin: 90px!important;}.m95-sp{margin: 95px!important;}.m100-sp{margin: 100px!important;}/* margin-top */.mt0-sp{margin-top:0!important;}.mt-5-sp{margin-top: -5px!important;}.mt-10-sp{margin-top: -10px!important;}.mt-15-sp{margin-top: -15px!important;}.mt-20-sp{margin-top: -20px!important;}.mt-25-sp{margin-top: -25px!important;}.mt-30-sp{margin-top: -30px!important;}.mt-35-sp{margin-top: -35px!important;}.mt-40-sp{margin-top: -40px!important;}.mt-45-sp{margin-top: -45px!important;}.mt-50-sp{margin-top: -50px!important;}.mt-55-sp{margin-top: -55px!important;}.mt-60-sp{margin-top: -60px!important;}.mt-65-sp{margin-top: -65px!important;}.mt-70-sp{margin-top: -70px!important;}.mt-75-sp{margin-top: -75px!important;}.mt-80-sp{margin-top: -80px!important;}.mt-85-sp{margin-top: -85px!important;}.mt-90-sp{margin-top: -90px!important;}.mt-95-sp{margin-top: -95px!important;}.mt-100-sp{margin-top: -100px!important;}.mt5-sp{margin-top: 5px!important;}.mt10-sp{margin-top: 10px!important;}.mt15-sp{margin-top: 15px!important;}.mt20-sp{margin-top: 20px!important;}.mt25-sp{margin-top: 25px!important;}.mt30-sp{margin-top: 30px!important;}.mt35-sp{margin-top: 35px!important;}.mt40-sp{margin-top: 40px!important;}.mt45-sp{margin-top: 45px!important;}.mt50-sp{margin-top: 50px!important;}.mt55-sp{margin-top: 55px!important;}.mt60-sp{margin-top: 60px!important;}.mt65-sp{margin-top: 65px!important;}.mt70-sp{margin-top: 70px!important;}.mt75-sp{margin-top: 75px!important;}.mt80-sp{margin-top: 80px!important;}.mt85-sp{margin-top: 85px!important;}.mt90-sp{margin-top: 90px!important;}.mt95-sp{margin-top: 95px!important;}.mt100-sp{margin-top: 100px!important;}/* margin-right */.mr0-sp{margin-right:0!important;}.mr5-sp{margin-right: 5px!important;}.mr10-sp{margin-right: 10px!important;}.mr15-sp{margin-right: 15px!important;}.mr20-sp{margin-right: 20px!important;}.mr25-sp{margin-right: 25px!important;}.mr30-sp{margin-right: 30px!important;}.mr35-sp{margin-right: 35px!important;}.mr40-sp{margin-right: 40px!important;}.mr45-sp{margin-right: 45px!important;}.mr50-sp{margin-right: 50px!important;}.mr55-sp{margin-right: 55px!important;}.mr60-sp{margin-right: 60px!important;}.mr65-sp{margin-right: 65px!important;}.mr70-sp{margin-right: 70px!important;}.mr75-sp{margin-right: 75px!important;}.mr80-sp{margin-right: 80px!important;}.mr85-sp{margin-right: 85px!important;}.mr90-sp{margin-right: 90px!important;}.mr95-sp{margin-right: 95px!important;}.mr100-sp{margin-right: 100px!important;}/* margin-bottom */.mb0-sp{margin-bottom:0!important;}.mb5-sp{margin-bottom: 5px!important;}.mb10-sp{margin-bottom: 10px!important;}.mb15-sp{margin-bottom: 15px!important;}.mb20-sp{margin-bottom: 20px!important;}.mb25-sp{margin-bottom: 25px!important;}.mb30-sp{margin-bottom: 30px!important;}.mb35-sp{margin-bottom: 35px!important;}.mb40-sp{margin-bottom: 40px!important;}.mb45-sp{margin-bottom: 45px!important;}.mb50-sp{margin-bottom: 50px!important;}.mb55-sp{margin-bottom: 55px!important;}.mb60-sp{margin-bottom: 60px!important;}.mb65-sp{margin-bottom: 65px!important;}.mb70-sp{margin-bottom: 70px!important;}.mb75-sp{margin-bottom: 75px!important;}.mb80-sp{margin-bottom: 80px!important;}.mb85-sp{margin-bottom: 85px!important;}.mb90-sp{margin-bottom: 90px!important;}.mb95-sp{margin-bottom: 95px!important;}.mb100-sp{margin-bottom: 100px!important;}/* margin-left */.ml0-sp{margin-left:0!important;}.ml5-sp{margin-left: 5px!important;}.ml10-sp{margin-left: 10px!important;}.ml15-sp{margin-left: 15px!important;}.ml20-sp{margin-left: 20px!important;}.ml25-sp{margin-left: 25px!important;}.ml30-sp{margin-left: 30px!important;}.ml35-sp{margin-left: 35px!important;}.ml40-sp{margin-left: 40px!important;}.ml45-sp{margin-left: 45px!important;}.ml50-sp{margin-left: 50px!important;}.ml55-sp{margin-left: 55px!important;}.ml60-sp{margin-left: 60px!important;}.ml65-sp{margin-left: 65px!important;}.ml70-sp{margin-left: 70px!important;}.ml75-sp{margin-left: 75px!important;}.ml80-sp{margin-left: 80px!important;}.ml85-sp{margin-left: 85px!important;}.ml90-sp{margin-left: 90px!important;}.ml95-sp{margin-left: 95px!important;}.ml100-sp{margin-left: 100px!important;}
	/* padding */.p0-sp{padding:0!important;}.p5-sp{padding: 5px!important;}.p10-sp{padding: 10px!important;}.p15-sp{padding: 15px!important;}.p20-sp{padding: 20px!important;}.p25-sp{padding: 25px!important;}.p30-sp{padding: 30px!important;}.p35-sp{padding: 35px!important;}.p40-sp{padding: 40px!important;}.p45-sp{padding: 45px!important;}.p50-sp{padding: 50px!important;}.p55-sp{padding: 55px!important;}.p60-sp{padding: 60px!important;}.p65-sp{padding: 65px!important;}.p70-sp{padding: 70px!important;}.p75-sp{padding: 75px!important;}.p80-sp{padding: 80px!important;}.p85-sp{padding: 85px!important;}.p90-sp{padding: 90px!important;}.p95-sp{padding: 95px!important;}.p100-sp{padding: 100px!important;}/* padding-top */.pt0-sp{padding-top:0!important;}.pt5-sp{padding-top: 5px!important;}.pt10-sp{padding-top: 10px!important;}.pt15-sp{padding-top: 15px!important;}.pt20-sp{padding-top: 20px!important;}.pt25-sp{padding-top: 25px!important;}.pt30-sp{padding-top: 30px!important;}.pt35-sp{padding-top: 35px!important;}.pt40-sp{padding-top: 40px!important;}.pt45-sp{padding-top: 45px!important;}.pt50-sp{padding-top: 50px!important;}.pt55-sp{padding-top: 55px!important;}.pt60-sp{padding-top: 60px!important;}.pt65-sp{padding-top: 65px!important;}.pt70-sp{padding-top: 70px!important;}.pt75-sp{padding-top: 75px!important;}.pt80-sp{padding-top: 80px!important;}.pt85-sp{padding-top: 85px!important;}.pt90-sp{padding-top: 90px!important;}.pt95-sp{padding-top: 95px!important;}.pt100-sp{padding-top: 100px!important;}/* padding-right */.pr0-sp{padding-right:0!important;}.pr5-sp{padding-right: 5px!important;}.pr10-sp{padding-right: 10px!important;}.pr15-sp{padding-right: 15px!important;}.pr20-sp{padding-right: 20px!important;}.pr25-sp{padding-right: 25px!important;}.pr30-sp{padding-right: 30px!important;}.pr35-sp{padding-right: 35px!important;}.pr40-sp{padding-right: 40px!important;}.pr45-sp{padding-right: 45px!important;}.pr50-sp{padding-right: 50px!important;}.pr55-sp{padding-right: 55px!important;}.pr60-sp{padding-right: 60px!important;}.pr65-sp{padding-right: 65px!important;}.pr70-sp{padding-right: 70px!important;}.pr75-sp{padding-right: 75px!important;}.pr80-sp{padding-right: 80px!important;}.pr85-sp{padding-right: 85px!important;}.pr90-sp{padding-right: 90px!important;}.pr95-sp{padding-right: 95px!important;}.pr100-sp{padding-right: 100px!important;}/* padding-bottom */.pb0-sp{padding-bottom:0!important;}.pb5-sp{padding-bottom: 5px!important;}.pb10-sp{padding-bottom: 10px!important;}.pb15-sp{padding-bottom: 15px!important;}.pb20-sp{padding-bottom: 20px!important;}.pb25-sp{padding-bottom: 25px!important;}.pb30-sp{padding-bottom: 30px!important;}.pb35-sp{padding-bottom: 35px!important;}.pb40-sp{padding-bottom: 40px!important;}.pb45-sp{padding-bottom: 45px!important;}.pb50-sp{padding-bottom: 50px!important;}.pb55-sp{padding-bottom: 55px!important;}.pb60-sp{padding-bottom: 60px!important;}.pb65-sp{padding-bottom: 65px!important;}.pb70-sp{padding-bottom: 70px!important;}.pb75-sp{padding-bottom: 75px!important;}.pb80-sp{padding-bottom: 80px!important;}.pb85-sp{padding-bottom: 85px!important;}.pb90-sp{padding-bottom: 90px!important;}.pb95-sp{padding-bottom: 95px!important;}.pb100-sp{padding-bottom: 100px!important;}/* padding-left */.pl0-sp{padding-left:0!important;}.pl5-sp{padding-left: 5px!important;}.pl10-sp{padding-left: 10px!important;}.pl15-sp{padding-left: 15px!important;}.pl20-sp{padding-left: 20px!important;}.pl25-sp{padding-left: 25px!important;}.pl30-sp{padding-left: 30px!important;}.pl35-sp{padding-left: 35px!important;}.pl40-sp{padding-left: 40px!important;}.pl45-sp{padding-left: 45px!important;}.pl50-sp{padding-left: 50px!important;}.pl55-sp{padding-left: 55px!important;}.pl60-sp{padding-left: 60px!important;}.pl65-sp{padding-left: 65px!important;}.pl70-sp{padding-left: 70px!important;}.pl75-sp{padding-left: 75px!important;}.pl80-sp{padding-left: 80px!important;}.pl85-sp{padding-left: 85px!important;}.pl90-sp{padding-left: 90px!important;}.pl95-sp{padding-left: 95px!important;}.pl100-sp{padding-left: 100px!important;}
	.mlrauto-sp{margin-left: auto; margin-right: auto;}
	.m1-sp {
		margin-bottom: 1px!important;
	}
}

.right{
	text-align: right!important;
}
.center{
	text-align: center!important;
}
.left{
	text-align: left!important;
}
.top{
	vertical-align: top!important;
}
.middle{
	vertical-align: middle!important;
}
.bottom{
	vertical-align: bottom!important;
}
.block-center {
	margin-left: auto !important;
	margin-right: auto !important;
}
.no-selector:before,
.no-selector:after {
	content: none;
}
.no-border {
	border: 0;
}
@media only screen and (min-width: 1px) and (max-width: 767px) {
	.pd0{padding: 0!important;}
	.no-pull-sp {
		float: none! important;
	}
	.pull-left-sp{
		float: left!important;
	}
	.pull-right-sp{
		float: right!important;
	}
	.right-sp{
		text-align: right!important;
	}
	.center-sp{
		text-align: center!important;
	}
	.left-sp{
		text-align: left!important;
	}
	.top-sp{
		vertical-align: top!important;
	}
	.middle-sp{
		vertical-align: middle!important;
	}
	.bottom-sp{
		vertical-align: bottom!important;
	}
}


/* ad
-------------------------------------------------- */
.quads-location {
	padding: 30px 0 50px 0;
}